@charset "utf-8";

/* common */

body {
  margin: 0;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

h3 {
  font-size: 20px;
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

/* header */

header {
  background: #eee;
  text-align: center;
  padding: 32px;
}

header img {
  border-radius: 50%;
}

h1 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  margin-top: 16px;
}


/* main */

main {
  padding: 64px;
}

section {
  margin: 64px auto 0;
  width: 400px;
}

/* footer */

footer {
  border-top: 1px solid #ccc;
  padding: 64px;
  text-align: center;
}

address {
  margin-top: 16px;
}

small {
  font-size: 14px;
  color:#aaa
}

a {
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}